/001even_or_odd_number.exe
/001even_or_odd_number.pdb
/002positive_or_negative_number.exe
/002positive_or_negative_number.pdb
/003sum_of_first_n_natural_numbers.exe
/003sum_of_first_n_natural_numbers.pdb
/004sum_of_numbers_in_given_range.exe
/004sum_of_numbers_in_given_range.pdb
/005greatest_of_three_numbers.exe
/005greatest_of_three_numbers.pdb
/006leap_year_or_not.exe
/006leap_year_or_not.pdb
/007prime_number_or_not.exe
/007prime_number_or_not.pdb
/008prime_numbers_with_in_given_range.exe
/008prime_numbers_with_in_given_range.pdb
/009_sum_of_digits_of_number.exe
/009_sum_of_digits_of_number.pdb
/010reverse_of_number.exe
/010reverse_of_number.pdb
/011palindrome_number_or_not.exe
/011palindrome_number_or_not.pdb
/012arm_strong_number_or_not.exe
/012arm_strong_number_or_not.pdb
/013arm_strong_numbers_in_given_range.exe
/013arm_strong_numbers_in_given_range.pdb
/014fibonacci_series_upto_nth_term.exe
/014fibonacci_series_upto_nth_term.pdb