/even_or_odd_number.exe
/even_or_odd_number.pdb
/positive_or_negative_number.exe
/positive_or_negative_number.pdb
/sum_of_first_n_natural_numbers.exe
/sum_of_first_n_natural_numbers.pdb
/sum_of_numbers_in_given_range.rs