/even_or_odd_number.exe
/even_or_odd_number.pdb
/positive_or_negative_number.exe
/positive_or_negative_number.pdb
/sum_of_first_n_natural_numbers.exe
/sum_of_first_n_natural_numbers.pdb
/sum_of_numbers_in_given_range.exe
/sum_of_numbers_in_given_range.pdb
/greatest_of_three_numbers.exe
/greatest_of_three_numbers.pdb
/leap_year_or_not.exe
/leap_year_or_not.pdb
/prime_number_or_not.exe
/prime_number_or_not.pdb
/prime_numbers_with_in_given_range.exe
/prime_numbers_with_in_given_range.pdb